.container {
  display: flex;
}

.columnsWrapper {
  display: flex;
  width: 100%;
  gap: 20px;
}

.title {
  color: #10957d;
  background: rgba(16, 149, 125, 0.15);
  padding: 4px 10px;
  border-radius: 5px;
  font-weight: 500;
  display: inline-block;
  margin-bottom: 10px;
}

.dragOverlay {
  transform: rotate(3deg);
  opacity: 0.9;
  pointer-events: none;
}
