.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
  min-height: 106px;
  word-wrap: break-word;
  border-radius: 6px;
  background: white;
  cursor: grab;
  margin-top: 15px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);

  p {
    margin: 0 0 10px 0;
    font-size: 14px;
    line-height: 1.4;
  }
}

.card:active {
  cursor: grabbing;
}

.secondary {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: #7d7d7d;
}
